*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    // background-color: aqua;
    h1{
        font-size: 2.5rem;
        text-align: center;
        padding: 20px 0px;
    }
    .sex{
        text-align: center;
        padding: 30px;
        font-size: 1.3rem;
        input:nth-child(2){
            margin-left: 80px;
        }
    }
    #container{
        display: flex;
        flex-direction: column;
        input, button{
            margin: auto;
            width: 60vw;
            margin-bottom: 20px;
            padding: 10px 0px;

        }
        input{
            text-indent: 5px;
        }
        button{

        }
        img{
            width: 150px;
            margin: 30px auto;
            
        }
        p{
            text-align: center;
            font-size: 1.5rem;
        }
    }
}
